html, body {
  margin: 0; padding: 0; width: 100%; height: 100%;
  overflow: hidden; background-color: #f8f9fa;
}

#map-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #f8f9fa; 
}

#panzoom-element {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  cursor: grab;
  /* Belangrijk: transform-origin zorgt dat alles vanuit het midden schaalt */
  transform-origin: center center; 
}

#panzoom-element:active {
  cursor: grabbing;
}

.base-map {
  display: block;
  width: 100vw; /* De basisbreedte is exact het scherm */
  height: auto; /* De hoogte schaalt proportioneel mee */
  pointer-events: none;
}

/* ALGEMENE EVENT-HANDLING VOOR DE GEBOUWEN */
#all-buildings img {
  position: absolute;
  cursor: pointer;
  transform: translate(-50%, -50%); 
  transition: transform 0.1s ease, filter 0.2s ease;
}

/* Effect wanneer een gebruiker op een gebouw tikt */
#all-buildings img:active {
  transform: translate(-50%, -50%) scale(0.95);
  filter: brightness(1.2) drop-shadow(0px 8px 12px rgba(0,0,0,0.3));
}

/* UNIEKE STYLING PER GEBOUW-CLASS (Pas de % aan voor de juiste schaal) */
.gebouw-amstel-hotel     { width: 15%; }
.gebouw-amstelhaven      { width: 3%; }
.gebouw-bb-sleep         { width: 2.5%; }
.gebouw-bakhuys          { width: 5%; }
.gebouw-bar-lempicka     { width: 4%; }
.gebouw-bistro-baret     { width: 1.5%; }
.gebouw-bistro-bonjour   { width: 1.8%; }
.gebouw-cafe-noir        { width: 3%; }
.gebouw-capital-kitchen  { width: 9%; }
.gebouw-carre            { width: 12%; }


/* Set 2 (11 t/m 20) */
.gebouw-concern-congres     { width: 10%; }
.gebouw-hapjeshoek          { width: 2.5%; }
.gebouw-mozaiekmakers       { width: 2.5%; }
.gebouw-fashion-boulevard   { width: 6%; }
.gebouw-fiaschetteria       { width: 2%; }
.gebouw-fotoschool          { width: 4%; }
.gebouw-frederik-park       { width: 1.2%; }
.gebouw-guesthouse          { width: 1.8%; }
.gebouw-hotel-hermitage     { width: 1.3%; }
.gebouw-hva                 { width: 23%; }


/* Set 3 (21 t/m 28) */
.gebouw-ocker                 { width: 1.8%; }
.gebouw-onbekend-2            { width: 2%; }
.gebouw-petit-lou             { width: 7%; }
.gebouw-protestantse-diaconie { width: 1.2%; }
.gebouw-chez-fabrice          { width: 3.4%; }
.gebouw-utrechtsedwarstafel   { width: 1.8%; }
.gebouw-van-soest             { width: 6.5%; }
.gebouw-zoku                  { width: 7%; }